body {
  background-color: #f6f6f6;
  font-family: Verdana, Arial, Helvetica, "meirio", "メイリオ",
    "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック",
    sans-serif;

  margin: 0;
  color: #515151;
  border-top: 8px solid #6cc6c4;
}

header {
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;

  .header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_r {
    margin: 0 0 0 auto;
    line-height: 10px;

    .descripsion {
      font-size: 10px;
    }

    .tel {
      font-size: 25px;
      font-weight: normal;
      text-align: right;
      margin-bottom: 10px;
    }

    .time {
      font-size: 10px;
      padding: 10px 20px;
      border: 1px solid #dcdcdc;
      text-align: center;

      span {
        color: red;
      }
    }
  }

  nav {
    width: 100%;
    margin-bottom: 0;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      li {
        width: 20%;
        text-align: center;
        // position: relative;
      }

      a {
        width: 100%;
        height: 30px;
        color: white;
        text-decoration: none;
        background: linear-gradient(to bottom, #b2ebea, #6cc6c4);
        border: 1px solid #6cc6c4;
        padding: 17px 0 18px;
        display: inline-block;
        font-size: 0;

        &:hover {
          background: linear-gradient(to bottom, #6cc6c4, #b2ebea);
          color: #d7f8f8;
        }

        .titleja {
          width: 100%;
          display: inline-block;
          font-size: 14px;
        }

        .titlee {
          width: 100%;
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
        }
      }

      a.first {
        border-radius: 5px 0 0 5px;
      }

      a.last {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  @media screen and (max-width: 375px) {
    width: auto;
    padding-top: 0;
  
    .header_wrapper {
    flex-direction: column;

    .header_r {
      margin: 0;

        .tel {
        height: 46px;
        margin: 0; 
        line-height: 46px;
      }

      .time {
        margin: 0;
      }
    }
  }

    nav {
      ul {
      flex-wrap: wrap;
      justify-content: flex-start;

      li {
        width: 50%;

        a {
          border-radius: 5px;
        }
      }
      }
    }
    }
  }


.contents {
  width: 900px;
  height: auto;
  display: flex;
  margin: 20px auto;

  .main_menu {
    margin-right: 20px;
    width: 40%;

    .m {
      width: 100%;
      height: 260px;

      ul {
        margin-top: 0;
        padding-left: 0;
        // list-style: none;
        color: normal;
        border: 1px solid #6cc6c4;
        border-radius: 5px 5px 0 0;
        line-height: 3;
        list-style-position: inside;
        background-color: #fff;

        h2.menu_title {
          margin: 0;
          padding-left: 10px;
          font-size: 16px;
          color: white;
          background: linear-gradient(to bottom, #b2ebea, #6cc6c4);
        }
      }

      li {
        margin: 0 12px;
        font-size: 14px;
        border-bottom: 1px solid #6cc6c4;
        position: relative;
        padding: 0px 0px 0px 1em;
        list-style: none;

        &:last-child {
          margin-bottom: 20px;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%) rotate(45deg);
          width: 0.5em;
          height: 0.5em;
          background-color: #6cc6c4;
          content: "";
        }

        a {
          display: block;
          text-decoration: none;
          color: #515151;

          &:hover {
            color: #6cc6c4;
          }
        }
      }
    }
    .m.list2 {
      a {
        &:hover {
          color: rgb(169, 221, 117);
        }
      }
    }
  }

  .mainmenu_r {
    width: auto;

    .mainimage img {
      width: 100%;
    }

    .inner {
      width: auto;
      margin-top: 10px;
      padding: 20px;
      background-color: #fff;

      h2.menu_titler {
        font-size: 16px;
        margin: 0 0 15px 0;

        span {
          display: block;
          height: 50px;
          border-bottom: 3px solid #6cc6c4;
          line-height: 50px;
        }
      }

      dl {
        width: auto;
        padding: 0 10px 10px 10px;
        margin-top: 0;

        .kizi {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid #dcdcdc;
          padding-bottom: 10px;

          dt {
            box-sizing: border-box;
            width: 20%;
            padding: 10px 0;
            font-size: 13px;
            font-weight: bold;
          }

          dd {
            box-sizing: border-box;
            width: 80%;
            margin-left: 0;
            padding: 10px 10px 0 30px;
            font-size: 13px;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    width: auto;
    flex-direction: column;
    padding: 0 12px;

    .main_menu {
      width: 100%;
      box-sizing: border-box;
      margin-top: 10px;
      order: 2;

      .m {
        // width: auto;

        ul {
        width: 100%;
        box-sizing: border-box;

      }
    }
  }

    .mainmenu_r {
      order: 1;
      
      .inner {
    margin-bottom: 39px;


        dl {
        .kizi {
          display: block;

          dt {
            width: auto;
          }

          dd {
            width: auto;
            padding: 10px;
          }
        }
      }
    }
  }
  }
}

footer {
  width: 900px;
  height: 80px;
  margin: 20px auto;

  ul {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #6cc6c4;
    border-radius: 5px;
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;

    li {
      font-size: 13px;
      padding: 0 0 0 25px;

      &:before {
        content: ""; /* 空の要素作成 */
        width: 8px; /* 幅指定 */
        height: 8px; /* 高さ指定 */
        display: inline-block; /* インラインブロックにする */
        border-radius: 50%; /* 要素を丸くする */
        background-color: #6cc6c4;
        border: 2px solid #fff;
        position: relative; /* 位置調整 */
        top: 1px; /* 位置調整 */
        margin-right: 10px; /* 余白指定 */
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }

  .name-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #6cc6c4;


  p.address {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    font-size: 13px;
  }
}

  p.copy {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
  }

  @media screen and (max-width: 375px) {
    width: auto;
    height: auto;
    padding: 0 20px;

    ul {
      width: auto;
      flex-wrap: wrap;
      height: 60px;
      padding-left: 13px;
      margin-bottom: 15px;

      li {
        padding: 0 20px 0 0;
      }
    }

    .name-add {
      .address {
      width: auto;
      margin: 0 0 0 auto;
      padding-bottom: 10px;

      .name,
      .add,
      .tel {
      width: auto;
      display: block;
      margin-right: 10px;
      }
      }
    }
    }

    

}